/* Loading spinner */
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #499628;
  border-color: #81c963 transparent #74d14c transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Button */
.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  column-gap: 10px;
  background-color: #58ab35;
  color: white;
  border: 1px solid #4d9c2c;
}

.action button:hover {
  background-color: #448d25;
  border-color: #4ca525;
}
